html, body, #app {
  height: 100%;
}

/*a, a:hover, a:active {
  color: #448aff !important;
  text-decoration: none !important;
}*/

.flex {
  flex: 1;
}

.md-tooltip {
  background: rgba(68, 79, 85, .75);
}